body {
    font-family: Arial, sans-serif;
    background: url('https://i.pinimg.com/originals/f6/15/74/f615740d8ec75ad36e322ecd9da8b129.gif') center center fixed;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    max-height: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #e67e22;
    transform: scale(1.1);
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #f39c12;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #e67e22;
}

#guessInput {
    animation: moveText 2s infinite alternate;
}

@keyframes moveText {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
}
